@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/*
Phone - width <= 600px
Portrait Tablet - width <= 900px
Landscape Tablet - width <= 1200px
Desktop - width <= 1800px (the usual scss code)
Large Desktop - width > 1800px
*/

//BREAKPOINT ARGUMENT CHOICES
/*
	phone
	tab-port
	tab-land
	big-desk
*/

//ORDER: Base + Typography > General Laypout + Grid > Page Layout > Changing Components

// 1em = 16px

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		//600px
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}
	@if $breakpoint == tab-port {
		//900px
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}
	@if $breakpoint == tab-land {
		//1200px
		@media only screen and (max-width: 75em) {
			@content;
		}
	}
	@if $breakpoint == big-desk {
		//1800px
		@media only screen and (min-width: 112.5em) {
			@content;
		}
	}
}
